<app-header [cart]="true" [search]="true" title="Shop"></app-header>

<ion-content>
  <!-- <ion-segment [value]='tab' scrollable  (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let cat of categories" [value]="cat.id">
      <ion-label>{{cat?.category}}</ion-label>
    </ion-segment-button>
  </ion-segment>  -->

    <ion-slides [options]="opts" #slides>
      <ion-slide *ngFor="let cat of categories; let i = index;">
        <ion-button fill="clear" class="text-dark" [class.active-category]="tab === cat.id" (click)="segmentChanged(cat.id)">
          {{ cat.category }}
        </ion-button>
      </ion-slide>
    </ion-slides>
  <ion-row class="mt-1 bg-white"   (ionChange)="segmentChanged($event)">
    <ion-col class="ion-text-center border" size="6">
      <ion-label>
        <ion-icon name="filter"></ion-icon>
        Filter
      </ion-label>
    </ion-col>
    <ion-col class="ion-text-center" size="6" >
      <ion-label (click)="presentModal()">
        <ion-icon size="10" name="search-outline"></ion-icon>
        Search
      </ion-label>
    </ion-col>
  </ion-row>
  <div *ngIf="loading">
    <ion-row class="mt-64">
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12"  class="ion-text-center">
        <ion-spinner class="spinner" name="bubbles"></ion-spinner>
      </ion-col>
      </ion-row>
  </div>
  <div *ngIf="!loading">
    <app-items [items]="products"></app-items>
    <ion-row *ngIf="products.length === 0" class="mt-64">
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12"  class="ion-text-center">
        <ion-text>No product found for this category</ion-text>
      </ion-col>
  
    </ion-row>
   
  </div>
</ion-content>
