<app-header [dismiss]="true" [title]="item.title"></app-header>
<ion-content>
<ion-row>
  <ion-col size="12">
   
      <swiper
      [config]="config"
    >
      <ng-template  *ngFor="let img of item.resourceImages" swiperSlide>
        <img src={{img}}/>
      </ng-template>
    </swiper>

  </ion-col>
  <ion-col size="12">
    <div style="height: auto;" class="flex flex-column py-8 pl-30 ion-text-left">
      <h4 class="product-title">
        {{item.title}}
      </h4>      
      <h5 *ngIf="item.discountPercent > 0; else noDiscount" class="price p-0">
        ₦ {{item?.actualPrice - (item?.actualPrice * (item?.discountPercent /100) )}}
      </h5>
      <ng-template #noDiscount>
        <h5 class="price p-0">
          ₦ {{item?.actualPrice}}
        </h5>
      </ng-template>
      <div *ngIf="item.discountPercent > 0" class=" p-0 ">
        <span dir="ltr" class="strike">₦ {{item.actualPrice}}</span>
        <span class="discount">
          {{item.discountPercent}}%  OFF

        </span>
      </div>
    </div>
  </ion-col>
<ion-card style="width: 100%;" class="px-8 w-100 mt-12">
  <button class="accordion">Description</button>
<div class="panel">
  <p>{{item.description}}</p>
</div>

<button class="accordion">Ingredients</button>
<div class="panel">
  <p>{{item.ingredients}}</p>
</div>

<button class="accordion">Warning</button>
<div class="panel">
  <p>{{item.warning}}</p>
</div>
</ion-card>

  <ion-col size="12" class="px-8 mt-32">
   <ion-button [disabled]="item.stock === 0" (click)="addToCart(item)" class="knowMore">
    <ion-icon slot="start" name="cart"></ion-icon>
     {{item.stock === 0 ? 'Out of stock' : buttonTitle}}
   </ion-button>
  </ion-col>

</ion-row>
<ion-row *ngIf="sameCategory.length !== 0"  class="mt-16 mx-16">
  <h1>Similar items</h1>
  <app-items [items]="sameCategory"></app-items>
  <!-- <app-slide-item [items]="sameCategory" [pager]="showButton" preview="2" [button]="!showButton"></app-slide-item> -->
</ion-row>
</ion-content>
