<app-header [cart]="false" [search]="false" title="FAQS"></app-header>

<ion-content>
  <ion-grid class="mt-32">
    <ion-row>
      <ion-col size="12">
        <ion-accordion-group>
          <ion-accordion class="mb-10" mode="ios" value="first">
            <ion-item slot="header" color="light">
              <ion-label> What is Toosie Pharmacy?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Toosie Pharmacy is an online and brick and mortar based pharmacy that provides a wide range of
              prescription and over-the-counter medications, as well as health and wellness products, to customers. Our
              objective is to deliver high-quality medications to our customers in a timely and convenient manner.

            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="second">
            <ion-item slot="header" color="light">
              <ion-label>How do I place an order with Toosie Pharmacy?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              You can place an order with Toosie Pharmacy by using our online platform or by visiting one of our brick
              and mortar locations. Simply browse our selection of medications and health and wellness products, add
              items to your cart, and follow the checkout process to place your order.
            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="third">
            <ion-item slot="header" color="light">
              <ion-label>What types of medications do you offer?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              At Toosie Pharmacy, we offer a fast and reliable delivery service that can deliver your medication within
              2 hours of your order being placed. However, where not feasible we will reach out to you. If you prefer to
              pick up your order at one of our brick and mortar locations, you can do so as well.

            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="fourth">
            <ion-item slot="header" color="light">
              <ion-label> How long does it take to receive my order?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              At Toosie Pharmacy, we offer a fast and reliable delivery service that can deliver your medication within
              2 hours of your order being placed. However, where not feasible we will reach out to you. If you prefer to
              pick up your order at one of our brick and mortar locations, you can do so as well.
            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="fifth">
            <ion-item slot="header" color="light">
              <ion-label> Do you accept insurance?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Currently we are working to incorporate insurance plans into our options.


            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="six">
            <ion-item slot="header" color="light">
              <ion-label>Can I speak with a pharmacist?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Yes, our team of highly trained pharmacists and healthcare professionals is available to answer any
              questions you may have about your medication or health condition. You can contact us via phone, email, or
              in person at one of our brick and mortar locations
            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="seven">
            <ion-item slot="header" color="light">
              <ion-label> Is my personal and medical information kept confidential?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Yes, we take your privacy and security seriously. We adhere to strict confidentiality and security
              policies to ensure that your personal and medical information is kept confidential and secure at all
              times.

            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="eight">
            <ion-item slot="header" color="light">
              <ion-label>What if I have a question about my medication?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              If you have a question about your medication, our team of pharmacists and healthcare professionals is here
              to help. Simply contact us via phone, email, or in person at one of our brick and mortar locations, and
              we'll be happy to answer any questions you may have.
            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="nine">
            <ion-item slot="header" color="light">
              <ion-label>How can I pay for my order?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              We accept most major credit cards. We also accept cash and transfers at our brick and mortar locations.

            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="ten">
            <ion-item slot="header" color="light">
              <ion-label> Do you offer discounts or promotions?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Yes, we offer a variety of discounts and promotions throughout the year. Be sure to sign up for our email
              newsletter and follow us on social media to stay up-to-date on our latest promotions and special offers.

            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="eleven">
            <ion-item slot="header" color="light">
              <ion-label> What if I need a medication that is not listed on your website?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              If you need a medication that is not listed on our website, please contact us, and we'll do our best to
              help you. We may be able to special order the medication for you or provide you with information on where
              you can obtain it.

            </div>
          </ion-accordion>
          <ion-accordion class="mb-10" mode="ios" value="twelve">
            <ion-item slot="header" color="light">
              <ion-label> What if I need a medication that requires a special dose or formulation?
              </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              If you need a medication that requires a special dose or formulation, please contact us, and we'll work
              with your healthcare provider to ensure that you receive the medication that is right for you.


            </div>
          </ion-accordion>


        </ion-accordion-group>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
