<ion-row *ngIf="items.length" class="favorite-items flex ion-justify-content-between">
  <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let p of items" class="ion-text-left">
    <div class="c-card">
      <img (click)="productModal(p)"  [src]="p?.resourceImages ? p?.resourceImages[0] : 'assets/icon/not-available.png'" />
      <div (click)="productModal(p)" style="height: 100px;" class="flex flex-column pt-8 ion-text-left">
        <h6 class="product-title">
          <!-- {{item.title.length > 20 ? item.title | slice:0:20 : item.title}} -->
          {{ (p?.title.length > 20)? (p?.title | slice:0:20)+'..':(p?.title) }}
        </h6>
        <small class="discount pl-8 pt-5">
          {{p?.discountPercent}}%  OFF
        </small>
        <span class="price pl-8 pt-5">
          ₦ {{p?.actualPrice - (p?.actualPrice * (p?.discountPercent /100) )}}
        </span>
      </div>
      <ion-button (click)="addToCart(p)" class="addToCart">
        Add to Cart
      </ion-button>
      <!-- <ion-icon name="heart-f" class="heart"></ion-icon> -->
    </div>
  </ion-col>

</ion-row>
