<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title class="ion-text-center">Me</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button routerLink="/menu/home/cart" class="filter">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <span>
        
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
