
.add-reminder{
    --border-color: #0281B2;
    --color: #0281B2
}
.cal{
    color: #0281B2;
    font-size: 64px;
    
}
ion-icon{
    color: #0281B2;
}
.d-block{
    display: block;
}
.w-100{
    width: 100%;
}