<app-header [dismiss]="true" title="Billing & Payment"></app-header>


<ion-content class="ion-padding pt-0">
  <form (ngSubmit)="placeOrder()" [formGroup]="billingInfo" class="form-container pt-4">

    <app-address *ngIf="step === 'address'" (next)="nextStep($event)"></app-address>
    <app-select-payment *ngIf="step === 'paymentMethod'" (next)="nextStep($event)"></app-select-payment>
    <ion-grid *ngIf="step === 'preview'">

      <ion-card class="address my-0">
        <ion-card-content>
          <address>
            {{selectedAddress?.address}},<br />
            {{selectedAddress?.localGov}},<br />
            {{selectedAddress.state}}
          </address>
        </ion-card-content>
      </ion-card>
      <ion-list-header>
        <ion-text><b class="ion-text-dark">Payment Methods</b></ion-text>
      </ion-list-header>
      <ion-card class="p-0 mt-8">

        <ion-list>
          <ion-item lines="none">
            <ion-thumbnail class="pt-13" slot="start">
              <ion-icon [name]="selectedPaymentType === 'card' ? 'card-payment' : 'cash-payment'"></ion-icon>
            </ion-thumbnail>
            <ion-label>{{selectedPaymentType | titlecase}}</ion-label>
          </ion-item>
        </ion-list>

      </ion-card>

    </ion-grid>
  </form>

</ion-content>

<ion-footer *ngIf="step === 'preview'">
  <ion-row class="my-16">
    <ion-col size="9">
      <ion-text>Total</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text>₦ {{total}}</ion-text>
    </ion-col>
    <ion-col size="9">
      <ion-text>Discount</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text>₦ {{discount}}</ion-text>
    </ion-col>
    <ion-col size="9">
      <ion-text>Delivery</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text>₦ {{deliveryCost}}</ion-text>
    </ion-col>
    <ion-col class="border-t" size="9">
      <ion-text><b>Grand Total</b></ion-text>
    </ion-col>
    <ion-col class="border-t" size="3">
      <ion-text><b>₦ {{total - discount}}</b></ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-button *ngIf="paymentType.value === 'cash'" class="success-btn mt-32" (click)="placeOrder()" type="submit"
        expand="block" [disabled]="!billingInfo.valid">Place Order ₦{{grandTotal}}</ion-button>
      <ion-button *ngIf="paymentType.value === 'card'" class="success-btn mt-32" (click)="payWithRave()" type="submit"
        expand="block" [disabled]="!billingInfo.valid">Place Order ₦{{grandTotal}}</ion-button>
      <ion-button *ngIf="paymentType.value === 'savedCard'" class="success-btn mt-32" (click)="savedCardPayment()"
        type="submit" expand="block" [disabled]="!billingInfo.valid">Place Order ₦{{grandTotal}}</ion-button>


    </ion-col>

  </ion-row>

</ion-footer>
