<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-title>
      <ion-button fill="clear" color="dark" type="back">
        <ion-icon  transparent name="arrow-left"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="ion-padding container mt-32">
    <img src="assets/icon/logo-big.png" alt="" class="logo">
    <h6>Fill the following instructions to Sign Up</h6>
    <form (ngSubmit)="signup()" [formGroup]="credentials" class="form-container pt-16">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="name" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
        <span *ngIf="name.errors?.required">Name is required</span>
        <span *ngIf="name.errors?.email">Name is invalid</span>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>

      <ion-button class="login mt-32" type="submit" expand="block" [disabled]="!credentials.valid">Sign up</ion-button>

      <div class="flex sign-up">
        <ion-label class="pt-11">
          Already have an account?
        </ion-label> 
        <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Login</ion-button>
      </div>
    </form>
  </div>
</ion-content>

<!-- <ion-button expand="block" routerLink="/menu/home">Login</ion-button> -->
