@import '../../theme/variables.scss';
@import '../../theme/mixins/mixins';

ion-toolbar {
    --background: #f4f5f8;
    --ion-color-base: transparent !important;
 }
 ion-content{
    --color: #777777;
    font-family: $pass-font;
 }
 .header-md::after {
     background: none !important;
 }
 img{
     width: 80px;

 }

 .icon-img{
     width: 25px;
     align-self: center;
 }
 .text-small{
    color: var(--color);
    font-family: 'Source Sans Pro';
    font-size: 12px;
    text-align: center;
     margin-top: 5px;
 }
 .icon-bg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #bacec8;
    display: flex;
    justify-content: center;
    align-self: center;
 }