<app-header [cart]="false" [search]="false" title="About Us"></app-header>

<ion-content>
  <ion-grid class="mt-32">
    <ion-row class="px-12">
      <ion-col size="12">
        <ion-label color="dark" class="h3 text-weight-bold">Welcome Toosie Pharmacy</ion-label>
      </ion-col>
      <ion-col size="12">
        <p class="ion-text-justify">We are a fast and reliable online and brick and mortar based pharmacy that is committed to delivering
          high-quality medications to our customers in a timely and convenient manner. Our objective is to make it easy
          for you to access the medications you need by providing a hassle-free experience that saves you time and
          money.
        </p>
        <p class="ion-text-justify"> Our online platform allows you to browse a wide range of prescription and over-the-counter medications, as
          well as health and wellness products, from the comfort of your own home. Our app also allows you to easily
          request refills, set reminders, and track your orders in real-time.
        </p>
        <p class="ion-text-justify">At Toosie Pharmacy, we understand that getting your medication quickly is important to you. That's why we
          offer a fast and reliable delivery service that can deliver your medication within 2 hours of your order being
          placed. We also offer the option to pick up your order at one of our brick and mortar locations if that's more
          convenient for you.

        </p>
        <p class="ion-text-justify">Our team of highly trained pharmacists and healthcare professionals is dedicated to providing you with
          personalized care and attention. We believe in building strong relationships with our customers, and we strive
          to make every interaction with us a positive and meaningful one.

        </p>
        <p class="ion-text-justify">At Toosie Pharmacy, we are committed to making your health and wellness a top priority. We believe that
          access to high-quality medications and healthcare products should be easy, affordable, and convenient. That's
          why we're here to help you every step of the way.
        </p>
        <p class="ion-text-justify">Thank you for choosing Toosie Pharmacy. We look forward to serving you and your family's healthcare needs.
        </p>
      </ion-col>

    
    </ion-row>
  </ion-grid>
</ion-content>
