<ion-header [translucent]="true" no-shadow no-border>
  <ion-toolbar>
    <ion-buttons (click)="dismiss()" class="ml-8" slot="start">
      <ion-icon name="arrow-left"></ion-icon>
    </ion-buttons>
   

  </ion-toolbar>
</ion-header>
<ion-content  class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="text-center" size="12">
        <ion-searchbar class="mb-16 ion-text-justify" (keyup)="onChange($event)" #searchProduct placeholder="Find products, coupons & services" ></ion-searchbar>
        <ion-spinner *ngIf="showSpinner"  name="crescent"></ion-spinner>

      </ion-col>
    </ion-row>
    <app-items [items]="items"></app-items>
    <ion-row *ngIf="sameCategory.length !== 0"  class="mt-16">
      <h1 class="mx-16">Similar items</h1>
      <app-items [items]="sameCategory"></app-items>
      <!-- <app-slide-item [items]="sameCategory" [pager]="showButton" preview="2" [button]="!showButton"></app-slide-item> -->
    </ion-row>
    <ion-row class="mt-64 p-0 text-center" *ngIf="searchResult?.length === 0">
      <ion-col>
        <ion-text>
          Sorry, No result found (~ ~)
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
