
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="slide flex flex-column ion-justify-content-center">
        <img src="assets/icon/toosie-2.png"/>
        <h2 color="dark">Welcome</h2>
        <p>The <b>Toosie Pharmacy app</b> is a practical preview of the real life pharmacy in action</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/intro-1.png"/>
      <h2>What is Toosie?</h2>
      <p><b>Toosie </b> is an a pharmacy store with presence both online and offline that enables customers to get quality medical and cosmetical products .</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/pharmacy.png"/>
      <h2>How to get started</h2>
      <p>Login or signup with your email and password and get access to powerful set of services and features you can get in europe </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/pills.png"/>
      <h2>Ready to Start?</h2>
      <ion-button routerLink="/login" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
