
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="false" [options]="slideOpts" #introSlides>

    <ion-slide>
      <div class="slide flex flex-column ion-justify-content-center">
        <img src="assets/icon/toosie-2.png"/>
        <h2 color="dark">Upload Prescription</h2>
        <p>Have a problem with searching medical products ? Upload medical precription and relax, We will get you medical products at home</p>
      </div>
      
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/intro-1.png"/>
      <h2>OTC & Wellness Product</h2>
      <p> Find our most popular, seasonal and top selling medical and cosmetical products .</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/offer.png"/>
      <h2>Offers</h2>
      <p>Get discount on medical products </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/pharmacy.png"/>
      <h2>Ask our Pharmcist</h2>
      <p>Get discount on medical products </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/moving-truck.png"/>
      <h2>The Fastest Delivery for Your Medicine</h2>
      <p>Just order your medicine & you get it delivered to you</p>
      <!-- <ion-button  fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> -->
    </ion-slide>
  </ion-slides>

  <ion-footer>
    <ion-button (click)="swipeNext()" expand="block" color="secondary">Next</ion-button>

  </ion-footer>
</ion-content>
